<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Este es un Proyecto  es una ejemplo de lo que he estado aprendiendo en cuanto a mis habilidades en programaciónse refiere, 
        como podrás observar el mismo esta enfocado en el frontend utilizando como base el lenguaje de progrmación JavaScript acompañado de el
        framework Angular. Escogí JavaScript por que es el más usado en cuanto a frontend y uno de los mejores para empezar prender a programar.
    </p>
</article>
